doctype html
html
  head
    title Fixd-server
    link(rel='stylesheet',href='/vendor/bootstrap.min.css')
    link(rel='stylesheet',href='/vendor/main.css')
  body
    .container
      .row
        .col-xs-12
          .page-header
            h1 FIXD文档管理系统
          if uxDirList.length > 0
            ul
              each val in uxDirList
                a(href= val.link)
                  - var liClass = {'dir_html': 'item-dir-html', 'dir_normal': 'item-dir-normal', 'file': 'item-file'}
                  li(class= liClass[val.type])= val.basename
                    span.pull-right= val.timeStr
          else
            p Nothing here, check your folder.