doctype html
html
  head
    title Fixd-server
    link(rel='stylesheet',href='/vendor/bootstrap.min.css')
    link(rel='stylesheet',href='/vendor/main.css')
    link(rel="shortcut icon",href="/favicon.ico",type="image/x-icon")
  body
    .container
      .row
        .col-sm-12
          .page-header
            h1 
              img(src="/vendor/logo.png",style="width:48px;")
              a(href='/') 文档管理系统
              small= currentDir
      .row
        .col-sm-12
          .table-title
            .title-content CONTENT
            .title-type TYPE
            .title-time TIME

      .row
        .col-sm-12
          if uxDirList.length > 0
            each val in uxDirList
              a(href= val.link)
                - var liClass = {'dir_html': 'badge-html', 'dir_normal': 'badge-dir', 'file': 'badge-file'}
                .item-container
                  .item-sub-content= val.basename
                  .item-sub-type
                    span(class= liClass[val.type])
                  .item-sub-time= val.timeStr
          else
            p Nothing here, check your folder.